<p class="text-gray-700 text-base mb-4">Welcome <%= @email %>!</p>

<p class="text-gray-700 text-base mb-4">
  You can confirm your account email through the link below:
</p>

<p class="mb-4">
  <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: "inline-block px-6 py-2 bg-indigo-600 text-white font-medium text-sm leading-tight rounded shadow-md hover:bg-indigo-700 hover:shadow-lg focus:bg-indigo-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-indigo-800 active:shadow-lg transition duration-150 ease-in-out" %>
</p>