<p class="text-gray-700 text-base mb-4">Hello <span class="font-semibold text-indigo-600"><%= @resource.email %></span>!</p>

<p class="text-gray-700 text-base mb-4">
  We're contacting you to notify you that your password has been changed.
</p>