<p class="text-gray-700 text-base mb-4">Hello <span class="font-semibold text-indigo-600"><%= @resource.email %></span>!</p>

<p class="text-gray-700 text-base mb-4">
  Someone has requested a link to change your password. You can do this through the link below.
</p>

<p class="mb-4">
  <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "inline-block px-6 py-2 bg-indigo-600 text-white font-medium text-sm leading-tight rounded shadow-md hover:bg-indigo-700 hover:shadow-lg focus:bg-indigo-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-indigo-800 active:shadow-lg transition duration-150 ease-in-out" %>
</p>

<p class="text-gray-700 text-base mb-4">
  If you didn't request this, please ignore this email.
</p>

<p class="text-gray-700 text-base mb-4">
  Your password won't change until you access the link above and create a new one.
</p>